#editorFrame{
/*	border-style: solid;
	border-width: 1px;*/
	clear: left;
	width: 60%;
}

.section{
	padding-left: 3px;
	min-width: 600px;
	float: left;
	position: relative;
	padding-top: 5px;
	border-style: solid;
	border-width: 1px;
}


#editor_title{
	font-size: 2.0em;
	text-align: center;
}

.section_title{
	font-size: 1.4em;
	width: 30px;
}

.item{
	position: relative;
	float: left;
	border-style: solid;
	border-width: 1px;
	width: 270px;
	padding-top: 5px;
	padding-left: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: 5px;
	background-color: #999999;
}

.item input{
	/*float: left;*/
}

.UID{
	background-color: #cccccc;
}

.edge{
}

.item_attr{
	/*font-size: 0.7em;*/
}

.item_attr label{
	font-size: 0.9em;
}



.iFact_sources{
	border-style: solid;
	border-width: 1px;
}